:root {
  --font-html-size: 62.5%;
  --font-body-size: 1.6rem;

  --content-width: 1440px;
  --header-height: 100px;
  --header-footer: 38px;

  --gap-xm: 8px;
  --gap-m: 24px;
  --gap-s: 32px;
  --gap-l: 48px;
  --gap-xl: 64px;

  --transition: 300s;
}
