$transition: 300ms;

//media
$small-height-max: 800px;
$extra-small-height-max: 620px;

$ultra-small-max: 450px;
$extra-small-max: 600px;
$small-min: 600px;
$small-max: 960px;
$medium-min: 960px;
$medium-max: 1280px;
$large-min: 1280px;
$large-max: 1920px;
$extra-large-max: 1920px;
$extra-large-max: 2560px;
$extra-extra-large-min: 2560px;
